<div id="inner-screen" style="display: none;">
  <div class="row">
    <div class="col-md-6 text-center" style="position: relative; z-index: 1; height: 500px;">
      <h2>Hero</h2>
      <div style="position: absolute; z-index: 1;"><img src="../../image/gaim.png"/></div>
      <div  id="monster-animation"  style="position: absolute; z-index: 10; float:left; display: none;" ><img src="../../image/starburst-explosion.svg"/></div>
    </div>
    <div class="col-md-6 text-center">
      <h2>Monster</h2>
      <div style="position: absolute; z-index: 1;"><img src="../../image/Invase_Warriors.webp"/></div>
      <div id="hero-animation" style="position: absolute; z-index: 10; float:left; display: none;"><img src="../../image/starburst-explosion.svg"/></div>
      
    </div>
  </div>
  <div class="row mt-4">
      <h3 id="word-display"></h3>
      
      <input type="text" id="word-input" class="form-control" />
      <button id="replay-audio-button" class="btn btn-secondary mt-2">Replay Word
</button>
<button id="attack-button" class="btn btn-primary mt-2">Attack</button>
    </div>
  </div>
</div>
